/* スマフォ　*/
#header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 5px;
  background: #ffffdf;
  box-sizing: border-box;
}

.top-title {
  margin: 10px auto 10px auto;
  font-size: 25px;
  font-weight: bold;
}

.top-title-explain {
  font-size: 15px;
}

.menu-title {
  font-size: 20px;
}

.main-box {
  width: 98%;
  margin: 100px auto 100px auto;
}

.photo-box {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.body_style {
  padding: 0 15px 15px 15px;
  font-size: 20px;
}

.table-design {
  width: 95%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px auto 0 auto;
}

.table-design th {
  padding: 5px;
  width: 30%;
  border: solid 1px #778ca3;
  color: blue;
  font-size: 12px;
}

.table-design td {
  padding: 10px;
  border: solid 1px #778ca3;
  font-size: 12px;
  font-weight: bold;
}

.sold-out {
  margin-left: 10px;
  color: red;
}
@media screen and (min-width: 768px) {
  .top-title {
    margin: 10px 0 10px 50px;
    font-size: 25px;
  }

  .top-title-explain {
    margin: 10px 0 10px 50px;
    font-size: 20px;
  }

  .menu-title {
    font-size: 30px;
  }

  .main-box {
    width: 90%;
    margin: 120px auto 100px auto;
  }

  .table-design {
    width: 95%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px auto 0 auto;
  }

  .table-design th {
    font-size: 25px;
  }

  .table-design td {
    font-size: 25px;
  }
}

/* パソコン　*/
@media screen and (min-width: 1025px) {
  .top-title {
    width: 60%;
    margin: 10px auto 10px auto;
    font-size: 30px;
  }

  .top-title-explain {
    width: 60%;
    margin: 10px auto 10px auto;
    font-size: 20px;
  }

  .main-box {
    width: 60%;
  }

  .menu-title {
    font-size: 25px;
  }

  .photo-box {
    float: left;
    padding: 0 15px 0 0;
    width: 100%;
    height: auto;
  }

  .photo-box_vertical {
    float: left;
    padding: 0 15px 0 0;
    width: auto;
    height: 300px;
  }

  .table-design th {
    font-size: 20px;
  }

  .table-design td {
    font-size: 20px;
  }
}
